@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100%;
}
.app{
    width: 100%;
}

